/*
Globalne Style
---------------------------------------------------------------------------
Opis: Zastosowanie stylów dla wszystkich elementów na stronie.

1. Resetowanie marginesu i paddingu, ustawienie box-sizing na border-box.
2. Wybór czcionki 'Cairo' dla wszystkich elementów.
---------------------------------------------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

/*
Style dla Elementu Body
---------------------------------------------------------------------------
Opis: Stylizacja dla elementu body.

1. Ustawienie wyśrodkowanego układu flexbox w kolumnie.
2. Ustawienie minimalnej wysokości na 100% widoku i koloru tła.
3. Ukrywanie poziomego przewijania.
---------------------------------------------------------------------------
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: #3f3a3a;
    overflow-x: hidden;
}

/*
Style dla Elementu HTML
---------------------------------------------------------------------------
Opis: Ustawienia dla elementu HTML.

1. Wygładzanie animacji przewijania.
---------------------------------------------------------------------------
*/
html {
    scroll-behavior: smooth;
}

/*
Style dla Listy i Jej Elementów
---------------------------------------------------------------------------
Opis: Stylizacja listy i jej elementów.

1. Ustawienie pozycji listy na relative.
2. Usunięcie domyślnych stylów dla elementów listy.
3. Stylizacja hiperłączy wewnątrz elementów listy.
---------------------------------------------------------------------------
*/
ul {
    position: relative;
}
ul li {
    list-style: none;
    text-align: center;
}
ul li a {
    transition: 0.5s;
    font-size: 50px;
    color: #7c7c7c;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-flex;
    font-weight: 600;
    transition: 0.5s;
    letter-spacing: 3px;
}
ul:hover li a {
    color: #4b4b4b;
}
ul li:hover a {
    color: #d3d3d3;
    background-color: transparent;
}

/*
Stylizacja Hiperłączy Przed Nawigacją
---------------------------------------------------------------------------
Opis: Dodanie efektu animacji do hiperłączy przed nawigacją.

1. Ustawienie pozycji absolutnej, rozmiaru, koloru tła, itp.
2. Animacja po najechaniu myszką.
---------------------------------------------------------------------------
*/
ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #0000001a;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
    text-wrap: nowrap;
}
ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}

/*
Kolory dla Hiperłączy w Zależności od Pozycji
---------------------------------------------------------------------------
Opis: Zmiana koloru tła przed nawigacją w zależności od pozycji.

1. Wybór koloru tła na podstawie pozycji elementu w liście.
---------------------------------------------------------------------------
*/
ul li:nth-child(4n + 1) a:before {
    background: #757575;
}
ul li:nth-child(4n + 2) a:before {
    background: #656565;
}
ul li:nth-child(4n + 3) a:before {
    background: #555555;
}
ul li:nth-child(4n + 4) a:before {
    background: #454545;
}

/*
Style dla Sekcji
---------------------------------------------------------------------------
Opis: Stylizacja dla sekcji.

1. Wykorzystanie układu siatki do wyśrodkowania zawartości.
2. Ustawienie minimalnej szerokości i wysokości na pełny widok.
---------------------------------------------------------------------------
*/
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-width: 100vw;
    min-height: 101vh;
}

/*
Klasy do Ukrywania/Showing
---------------------------------------------------------------------------
Opis: Klasy dla ukrywania/odkrywania elementów z animacją.

1. Ukrywanie poprzez obniżenie przezroczystości, rozmycie i przesunięcie.
2. Odkrywanie poprzez przywrócenie przezroczystości, usunięcie rozmycia i przywrócenie pozycji.
---------------------------------------------------------------------------
*/
.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-99%);
    transition: 1s linear;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*
Przycisk Scroll-Up
---------------------------------------------------------------------------
Opis: Stylizacja przycisku do przewijania strony w górę.

1. Animacja przy najechaniu myszką.
2. Pozycja stała na ekranie.
---------------------------------------------------------------------------
*/
#scrollUpBtn {
    transition: 1s ease-in;
    position: fixed;
    top: 1vh;
    right: 5vw;
    z-index: 99;
    cursor: pointer;
}
#scrollUpImg {
    width: 90%;
    height: auto;
}
#scrollUpBtn:hover {
    transition: 1s ease-in;
    transform: translateY(-20%);
}

/*
Stylizacja dla Karuzeli (Carousel)
---------------------------------------------------------------------------
Opis: Stylizacja dla elementów karuzeli.

1. Ustawienia dla kontenera karuzeli.
2. Ustawienia dla elementów figure i przycisków.
3. Animacje dla przycisków przy najechaniu myszką.
---------------------------------------------------------------------------
*/
#carouselDiv {
    min-height: 50%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    flex-flow: row;
    transition: 1s linear;
    justify-content: center;
}
#carouselDiv figure {
    transition: 1s ease-out;
}
#carouselDiv button {
    transition: 0.5s linear;
    background-color: #3c3131;
    border: none;
    border-radius: 5px;
}
#carouselDiv button:hover {
    transition: 0.5s linear;
    background-color: #4c4c4c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

/*
Stylizacja dla Obrazów w Karuzeli
---------------------------------------------------------------------------
Opis: Stylizacja dla obrazów wewnątrz karuzeli.

1. Ustawienie marginesu, paddingu, szerokości i zaokrąglenia krawędzi.
2. Animacja przy najechaniu myszką.
---------------------------------------------------------------------------
*/
#carouselImg {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#carouselImg img {
    transition: 1s ease-in;
    border: none;
    border-radius: 15px;
    height: 40vh;
    background-color: transparent;
    margin: 5px;
}

/*
Formularz
---------------------------------------------------------------------------
Opis: Stylizacja dla formularza.

1. Ustawienia dla czcionki, interlinii, układu, itp.
2. Stylizacja etykiet formularza.
3. Stylizacja elementów wejściowych formularza.
4. Stylizacja przycisku formularza.
---------------------------------------------------------------------------
*/
form {
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.formlabels {
    color: #dfd8d8;
    margin: 20px;
    display: grid;
    text-align: center;
}
#nameInput, #inputNumber, #emailInput {
    text-align: center;
    border-radius: 5px;
    border: none;
    border-color: #3c3131;
    background-color: #656565;
    width: 100%;
    height: 30px;
    padding: 5px;
}
#contentInput {
    border-radius: 5px;
    border: none;
    border-color: #3c3131;
    background-color: #656565;
    width: 100%;
    height: 70px;
    text-wrap: balance;
    padding: 5px;
}
#radio {
    display: flex;
    flex-flow: row;
    color: #dfd8d8;
    align-items: center;
    margin: 10px;
    justify-content: space-evenly;
}
#radio label {
    margin: 0;
}

/*
Stylizacja dla Przycisku Formularza
---------------------------------------------------------------------------
Opis: Stylizacja przycisku w formularzu.

1. Animacja przy najechaniu myszką.
2. Ustawienia koloru, border-radius, paddingu, szerokości itp.
---------------------------------------------------------------------------
*/
.buttonForm {
    transition: 0.5s linear;
    font-weight: 300;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
    color: #d3d3d3;
    background-color: #555555;
    border: 1px solid;
    border-color: #343333;
    border-radius: 5px;
    padding: 7px;
    width: 80%;
    margin: 5px;
}
.buttonForm:hover {
    transition: 0.5s linear;
    background-color: #757575;
}

/*
Stylizacja dla Kontenera Przycisków Formularza
---------------------------------------------------------------------------
Opis: Stylizacja kontenera przycisków formularza.

1. Wykorzystanie układu flexbox do wyśrodkowania elementów.
2. Układ w kolumnie.
---------------------------------------------------------------------------
*/
#buttonsForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
Media Queries
---------------------------------------------------------------------------
Opis: Modyfikacje stylów w zależności od szerokości ekranu.

1. Dostosowanie rozmiaru obrazu i przycisków dla ekranów o większej szerokości.
2. Zmniejszenie rozmiaru czcionki dla mniejszych ekranów.
3. Dodanie dodatkowych modyfikacji dla szerokości ekranu powyżej 1024px.
4. Dodanie modyfikacji dla szerokości ekranu poniżej 768px.
5. Dodanie modyfikacji dla preferencji mniejszego ruchu.
---------------------------------------------------------------------------
*/

@media (min-width: 768px) {
    #carouselImg img {
        height: 20vh;
    }

    #carouselDiv button {
        width: 5vw;
    }
}

@media (max-width: 1023px) {
    ul li a {
        font-size: 20px;
    }

    ul li a:before {
        font-size: 2em;
    }

    #carouselImg img {
        height: 30vh;
    }
    #carouselDiv button {
        width: 5vw;
    }
}
@media (min-width: 1024px) {
    ul li a {
        font-size: 60px;
    }

    ul li a:before {
        font-size: 2em;
    }

    #carouselImg img {
        height: 50vh;
    }
    #radio label{
        display: flex;
        flex-flow: row;
        color: #dfd8d8;
        align-items: center;
        margin: 10px;
        justify-content: space-evenly;
    }
    .buttonForm{
        letter-spacing: 3px;
        border-radius: 5px;
        padding: 7px;
        width: 160px;
        margin: 5px;
    }
    #carouselDiv button {
        width: 10vw;
    }
}

@media (max-width: 767px) {
    ul li a {
        font-size: 16px;
    }

    ul li a:before {
        font-size: 1.5em;
    }

    #carouselImg img {
        height: 35vh;
    }

    #carouselDiv button {
        width: 16vw;
    }
    #previous img, #next img {
        width: 6vw;
    }
    #nameInput, #inputNumber, #emailInput, #contentInput{
        width: 80%;
    }
    
    #radio label {
        margin: 10px;
        font-size: 13px;
    }
    
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}